body{
    
    background-color: #3a49ce41;
    overflow-x: hidden;
    margin: 0;
    
}

main {
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0;
  }

  main {
    width: 100%;
  }
}