body{
    width: 1036px;
    background-color: #3a49ce41;
    overflow-x: hidden;
    margin: 0;
    
}

main {
    font-family: 'Raleway';
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0;
  }
}

@media only screen and (max-width: 360px) {
  body {
    display: flex;
width: 360px;
flex-direction: column;
justify-content: center;
align-items: center;
  }
}